<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login to Your League</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, msg in messages %}
                        <p class="{{ 'error-message' if category == 'error' else 'info-message' }}">{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label for="league_name">League Name:</label>
            <input type="text" id="league_name" name="league_name" placeholder="Enter league name" required>

            <label for="league_password">League Password:</label>
            <input type="password" id="league_password" name="league_password" placeholder="Enter league password" required>

            <label for="admin_password">Admin Password (optional):</label>
            <input type="password" id="admin_password" name="admin_password" placeholder="Enter admin password (optional)" autocomplete="off">

            <button type="submit">Enter</button>
        </form>
        <form action="{{ url_for('create_league') }}" method="get" style="margin-top: 1em;">
            <button type="submit">Create a New League</button>
        </form>

    </div>

    <footer>
        SleeperTools &copy; 2025
    </footer>
</body>
</html>
